/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

/* Encabezado */

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Secciones */

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Botón de edición */

.btn-edit {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-info {
    display: inline-block;
    background-color: #00e5ff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #2980b9;
}

.btn-edit:hover {
    background-color: #00e5ff;
}

/* Pie de página */

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos para el contenido */

/* Puedes agregar estilos específicos para las secciones de tu página si es necesario */
