/* Estilo para el encabezado */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Esto asegura que el cuerpo ocupe al menos toda la altura de la ventana */
    margin: 10;
}

header {
    background-color: white;
    color: #007BFF;
    padding: 50px;
    text-align: left;

}

/* Estilo para el título del encabezado */
header h1 {
    font-size: 24px;
}

/* Estilo para el contenedor de la tarjeta */
.card {
   
    margin: 1px auto;
    max-width: 1000px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el formulario */
form {
    margin-top: 10px;
}

/* Estilo para el botón de inicio de sesión */
.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

/* Estilo para el pie de página */
