{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Cliente</title>
    <link rel="stylesheet" href="{% static 'css/registro.css'%}">
</head>
<body>
    <div class="container">
        <h1>Registro de Cliente</h1>
        <form action="{% url 'registrarCliente'%}" method="POST">
            {% csrf_token %}
            <label for="Nombre">Nombre:</label>
            <input type="text" id="Nombre" name="Nombre" required>

            <label for="Gmail">Correo Electrónico:</label>
            <input type="email" id="Gmail" name="Gmail" required>

            <label for="Celular">Número de Teléfono:</label>
            <input type="tel" id="Celular" name="Celular" required>

            <label for="Direccion">Dirección:</label>
            <textarea id="Direccion" name="Direccion" required></textarea>

            <button type="submit">Registrar</button>
        </form>
    </div>
</body>
</html>
